@model TaskManager.Models.PersonalTask

<p></p>
@{
    ViewBag.Title = "View Task";
}

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

@using (Html.BeginForm())
{
    <div class="row ">
        <div class="col-md-offset-2 col-md-8 form-group well">
            <div class="row">
                <div class="col-md-offset-2 col-md-8 text-center"><h2>@Model.Title</h2></div>
                <h2><a href="~/Edit/Edit/@Model.Id" class="nolink col-md-1 glyphicon glyphicon-list-alt "></a></h2>
                <h2><a href="~/Delete/Delete/@Model.Id" class="nolink col-md-1 pull-right delItem glyphicon glyphicon-trash"></a></h2>
            </div>
            <div class="row">
                <div class="col-md-12 ">@Model.Content</div>
            </div>
            <div class="row">
                <div class="col-md-offset-10 col-md-1">@Model.LastModified.ToShortDateString()</div>
            </div>
        </div>
    </div>
}

@section scripts
{
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
           $(".delItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}